@charset "utf-8";
 
#first .jumbotron{
	

	height: 70vh;
	
}


 
#first h1{

    color:brown;
	
}

#introfirst img
{
	
    width:300px;
	 
	
}

#introsecond
{
	 
	padding-top:80px;
	
	
}

 
#accordionExample img{
	
border-radius: 5px;

}

#QAsecond{
margin-top: 80px;

margin-left: 100px;
	
}


.accordion{
	
 
	box-shadow:0 0 10px rgba( 0,0,0,0.2);
	border-radius:5px;
	overflow:hidden;
	font-family:"Quicksand", sans-serif;
	
}



.bodybg{

	color:white;
	background-color: cadetblue;
}